.blueElement {
    background-color: #22384D;
    color: white;
}

.whiteMenuText{
    padding-right: .5rem;
    padding-left: .5rem;
    display: block;
    padding: .5rem 1rem;
    color: white;
    text-decoration: none;
}

.whiteMenuText:hover{
    padding-right: .5rem;
    padding-left: .5rem;
    display: block;
    padding: .5rem 1rem;
    color: rgb(255, 238, 0);
    text-decoration: none;
}